@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
ul,ol,li{
    list-style: none;
}
body{
    font-size: 12px;
    font-family:"微软雅黑";
}
img{
    border: none;   
}

i,em{
    font-style: normal;
}
a{  
    text-decoration: none;
    color: inherit;
}
a:hover{color:inherit;text-decoration:none;}
h1,h2,h3,h4,h5,h6,b{
    font-weight: normal;
}
table,tr,td,th{border:none;text-align:left;}
table{border-collapse:collapse;}



//窗口最小宽度
.commonWidth{
    width: 100%;
    min-width: 1349px;  
}
.Width{
    width: 1210px;
    margin: 0 auto; 
}
//固定到窗口中央
.centerFixed{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.5);   
    z-index: 1000;
    display: none;
}


//颜色
$color1: #d00000;//红色
$color2: #c2a67d;//棕色
$color3: #000;
$color4: #fff;
$color5: #c69c6d;//搜索框
$color6: #999;
$color7: #ccc;
$color8: #666;
$color9: #c7c6c6;

//分类列表样式
.showshop1{
    width: 650px;
    line-height: 25px;
    min-height: 25px;
    border-bottom:1px solid #d7d7d7 ;
    margin-left: 50px;                       
    background-color: #ffffff;
    margin: 10px 0px 10px 20px;
    overflow: hidden;                      
    position: relative;                                              
    .right{                         
        position: absolute;
        left: 130px;                          
        top: 0;
        overflow: hidden;       
        a{
            float: left;
            margin-right: 10px;                           
            height: 25px;          
            line-height: 25px;       
            color: #757272;
            font-weight: normal;
            font-size: 12px;                                                                              
            &:hover{
                text-decoration: underline;
            }
        }
    }    
    h4{
        float: left;                                                  
        width: 130px;
        height: 50px;                          
        font-size: 14px;
        font-weight: bold;                                                                                                          
        a{
            float: left; 
            color: red; 
        }
    }
}                        
.showbtn1{
    float: left;
    margin: 10px 20px;
    width: 590px;
    height: 70px;
    overflow: hidden;
    a{
        float: left;
        width: 115px;
        height: 30px;
        line-height: 30px;
        margin: 20px 10px 20px 55px;
        background: red;
        color: #fff;
    }
}

//边框样式
.topline1{
    position: absolute;
    top: -1px;
    left: -1px;
    height: 1px;
    width: 0;
    background: #000;
}
.rightline1{
    position: absolute;
    top: -1px;
    right: -1px;
    height: 0;
    width: 1px;
    background: #000;
}
.bottomline1{
    position: absolute;
    bottom: -1px;
    right: -1px;
    height: 1px;
    width: 0;
    background: #000;
}
.leftline1{
    position: absolute;
    top: -1px;
    left: -1px;
    height: 0;
    width: 1px;
    background: #000;
}
//商城同款图片列表样式
.toptxt_1{
    font-size: 13px;
    color: #666;
    display: inline-block;
    position: relative;
    left: 0;
    p{
        height: 24px;
        line-height: 24px;
    }
    .p1{
        color: #000;
    }
}


//<!------------右侧悬浮框--------------------->
.right_menu1{
    position: fixed;
    right: 0;
    top: 30%;
    width: 35px;
    height: 235px;
     z-index: 100;
    .right_menu1_1{
        width: 35px;
        height: 35px;
        background-color: #333;
        margin-bottom: 1px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        position: relative; 
        cursor: pointer;      
        &:hover{
            background: #c69c6d;
        }
        .menu1_cart{
            span{
                display: block;
                width: 35px;
                height: 35px;
                background: url(../../imgs/index/share02.png) no-repeat -88px -156px;
                &:hover{
                     background: url(../../imgs/index/share02.png) no-repeat -88px -121px;
                }
            }
        }        
        .menu_zichan{
            span{
                display: block;
                width: 35px;
                height: 35px;
                background: url(../../imgs/index/share02.png) no-repeat -140px -154px;
                &:hover{
                     background: url(../../imgs/index/share02.png) no-repeat -140px -124px;
                }
            }
        }
        .menu_like{
            span{
                display: block;
                width: 35px;
                height: 35px;
                background: url(../../imgs/index/share02.png) no-repeat -202px -155px;
                &:hover{
                     background: url(../../imgs/index/share02.png) no-repeat -202px -126px;
                }
            }
        }
        .menu_kefu{
            span{
                display: block;
                width: 35px;
                height: 35px;
                background: url(../../imgs/index/share02.png) no-repeat -258px -125px;                
               
            }
        }
        .active2{
            position: absolute;
            top: 0;
            right: 35px;
            width: 99px;
            height: 33px;
            line-height: 33px;
            text-align: center;
            background: #fff;
            border: 1px solid #e4e4e4;
            border-right: none;
            font-size: 14px;
            display: none;          
            i{
                display: block;
                position: absolute;
                right: -8px;
                top: 10px;
                width: 16px;
                height: 16px;
                line-height: 16px;
                text-align: center;
                font-size: 16px;
                color: #fff;
                font-family: "\5b8b\4f53";
            }
        }
       
    }
}
.right_menu2{
    position: fixed;
    right: 0;
    bottom: -55px;
    width: 35px;
    height: 235px;
     z-index: 100;
    .right_menu2_1{
        width: 35px;
        height: 35px;
        background-color: #333;
        margin-bottom: 1px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        position: relative;
         cursor: pointer;        
        &:hover{
            background: #c69c6d;
        }
        .menu1_weixin{
            span{
                display: block;
                width: 35px;
                height: 35px;
                background: url(../../imgs/index/share02.png) no-repeat -312px -155px;
                &:hover{
                     background: url(../../imgs/index/lux_index.png) no-repeat -475px -52px ;
                }
            }
        }        
        .menu1_yijian{
            span{
                display: block;
                width: 35px;
                height: 35px;
                background: url(../../imgs/index/share02.png) no-repeat -374px -157px;
                &:hover{
                     background: url(../../imgs/index/lux_index.png) no-repeat -124px -52px;
                }
            }
        }
        .menu1_lianxi{
            span{
                display: block;
                width: 35px;
                height: 35px;
                background: url(../../imgs/index/line_bg.png) no-repeat 10px 9px;
                &:hover{
                     background: url(../../imgs/index/line_bg.png) no-repeat 10px -19px;;
                }
            }
        }
        .menu1_weixin2{
            position: absolute;
            right: 35px;
            top: 1px;
            display: none;          
            i{
                display: block;
                position: absolute;
                width: 16px;
                height: 16px;
                line-height: 16px;
                text-align: center;
                font-size: 16px;
                right: -8px;
                 top: 10px;
                color: #fff;
                font-family: "\5b8b\4f53";
            }
        }
        .menu1_top{
            span{
                display: block;
                width: 35px;
                height: 35px;
                background: url(../../imgs/index/share02.png) no-repeat -437px -153px;                
               &:hover{
                     background: url(../../imgs/index/lux_index.png) no-repeat -401px -52px;
                }     
            }
        }
        .active2{
            position: absolute;
            top: 0;
            right: 35px;
            width: 99px;
            height: 33px;
            line-height: 33px;
            text-align: center;
            background: #fff;
            border: 1px solid #e4e4e4;
            border-right: none;
            font-size: 14px;
            display: none;          
            i{
                display: block;
                position: absolute;
                width: 16px;
                height: 16px;
                line-height: 16px;
                text-align: center;
                font-size: 16px;
                right: -8px;
                 top: 10px;
                color: #fff;
                font-family: "\5b8b\4f53";
            }
        }
       
    }
}



/*<!-----------------------导航栏------------------------->*/
.nav {
     @extend .commonWidth;
    height: 38px;
    background: url("../../imgs/index/navi_1pxbg.png") repeat-x;
    box-shadow: 0 4px 4px $color9;
    .menu {
        @extend .Width;
        position: relative;
       
        .menu_first {
            width: 130px;
            background: $color1;
            color: $color4;
            font-weight: bold;
            //分类列表                                                       
            .menu_list {
                width: 130px;
                height: 540px;
                z-index: 100;
                position: absolute;
                top: 38px;
                left: 0;
                display: none;
                li {
                    width: 130px;
                    color: #000;
                    height: 36px;
                    position: relative;
                    background: #fff;
                    opacity: 0.85;
                    &:hover {
                        opacity: 1;
                        color: $color2;
                    }
                    span {
                        display: inline-block;
                        width: 56px;
                        padding-left: 20px;
                    }
                    .line{
                        display: inline-block;
                        position: absolute;
                        right: 0;
                        top: 5px;
                        height: 36px;
                        width: 20px;
                        display: none;
                        background: url("../../imgs/index/share02.png") no-repeat -304px -33px;
                    }
                }

                .tuijian {
                    opacity: 0.85;
                    position: relative;
                    background: url("../../imgs/index/brand_category1.png") no-repeat #fff 0 0;
                    &:hover {
                        opacity: 1;
                        background: url("../../imgs/index/brand_category2.png") no-repeat #fff 0 0;
                    }
                    .tuijian_show {
                        z-index: 100;
                        position: absolute;
                        top: 2px;
                        right: -800px;
                        background: #fff;
                        color: #000;
                        width: 800px;
                        display: none;
                        overflow: hidden;
                        .showshop {
                            @extend .showshop1;
                        }
                        .showbtn {
                            @extend .showbtn1;
                        }
                    }
                }
                .xiangbao {
                    opacity: 0.85;
                    background: url("../../imgs/index/brand_category1.png") no-repeat #fff 0 -32px;
                    &:hover {
                        opacity: 1;
                        background: url("../../imgs/index/brand_category2.png") no-repeat #fff 0 -32px;
                    }
                    .xiangbao_show {
                        z-index: 100;
                        position: absolute;
                        top: -30px;
                        right: -800px;
                        background: #fff;
                        color: #000;
                        overflow: hidden;
                        width: 800px;
                        display: none;
                        .showshop {
                            @extend .showshop1;
                        }
                        .showbtn {
                            @extend .showbtn1;
                        }
                    }
                }
                .meizhuang {
                    opacity: 0.85;
                    background: url("../../imgs/index/brand_category1.png") no-repeat #fff 0 -64px;
                    &:hover {
                        opacity: 1;
                        background: url("../../imgs/index/brand_category2.png") no-repeat #fff 0 -64px;
                    }
                    .meizhuang_show {
                        z-index: 100;
                        position: absolute;
                        top: -50px;
                        right: -800px;
                        background: #fff;
                        color: #000;
                        overflow: hidden;
                        width: 800px;
                        display: none;
                        .showshop {
                            @extend .showshop1;
                        }
                        .showbtn {
                            @extend .showbtn1;
                        }
                    }
                }
                .fuzhuang {
                    opacity: 0.85;
                    background: url("../../imgs/index/brand_category1.png") no-repeat #fff 0 -96px;
                    &:hover {
                        opacity: 1;
                        background: url("../../imgs/index/brand_category2.png") no-repeat #fff 0 -96px;
                    }
                    .fuzhuang_show {
                        z-index: 100;
                        position: absolute;
                        top: -60px;
                        right: -800px;
                        background: #fff;
                        color: #000;
                        overflow: hidden;
                        width: 800px;
                        display: none;
                        .showshop {
                            @extend .showshop1;
                        }
                        .showbtn {
                            @extend .showbtn1;
                        }
                    }
                }
                .wanbiao {
                    opacity: 0.85;
                    background: url("../../imgs/index/brand_category1.png") no-repeat #fff 0 -128px;
                    &:hover {
                        opacity: 1;
                        background: url("../../imgs/index/brand_category2.png") no-repeat #fff 0 -128px;
                    }
                    .wanbiao_show {
                        z-index: 100;
                        position: absolute;
                        top: -50px;
                        right: -800px;
                        background: #fff;
                        color: #000;
                        overflow: hidden;
                        width: 800px;
                        display: none;
                        .showshop {
                            @extend .showshop1;
                        }
                        .showbtn {
                            @extend .showbtn1;
                        }
                    }
                }
                .peishi {
                    opacity: 0.85;
                    background: url("../../imgs/index/brand_category1.png") no-repeat #fff 0 -160px;
                    &:hover {
                        opacity: 1;
                        background: url("../../imgs/index/brand_category2.png") no-repeat #fff 0 -160px;
                    }
                    .peishi_show {
                        z-index: 100;
                        position: absolute;
                        top: -40px;
                        right: -800px;
                        background: #fff;
                        color: #000;
                        overflow: hidden;
                        width: 800px;
                        display: none;
                        .showshop {
                            @extend .showshop1;
                        }
                        .showbtn {
                            @extend .showbtn1;
                        }
                    }
                }
                .xiexue {
                    opacity: 0.85;
                    background: url("../../imgs/index/brand_category1.png") no-repeat #fff 0 -192px;
                    &:hover {
                        opacity: 1;
                        background: url("../../imgs/index/brand_category2.png") no-repeat #fff 0 -192px;
                    }
                    .xiexue_show {
                        z-index: 100;
                        position: absolute;
                        top: -30px;
                        right: -800px;
                        background: #fff;
                        color: #000;
                        overflow: hidden;
                        width: 800px;
                        display: none;
                        .showshop {
                            @extend .showshop1;
                        }
                        .showbtn {
                            @extend .showbtn1;
                        }
                    }
                }
                .muying {
                    opacity: 0.85;
                    background: url("../../imgs/index/brand_category1.png") no-repeat #fff 0 -224px;
                    &:hover {
                        opacity: 1;
                        background: url("../../imgs/index/brand_category2.png") no-repeat #fff 0 -224px;
                    }
                    .muying_show {
                        z-index: 100;
                        position: absolute;
                        top: -200px;
                        right: -800px;
                        background: #fff;
                        color: #000;
                        overflow: hidden;
                        width: 800px;
                        display: none;
                        .showshop {
                            @extend .showshop1;
                        }
                        .showbtn {
                            @extend .showbtn1;
                        }
                    }
                }
                .meijiu {
                    opacity: 0.85;
                    background: url("../../imgs/index/brand_category1.png") no-repeat #fff 0 -256px;
                    &:hover {
                        opacity: 1;
                        background: url("../../imgs/index/brand_category2.png") no-repeat #fff 0 -256px;
                    }
                    .meijiu_show {
                        z-index: 100;
                        position: absolute;
                        top: -200px;
                        right: -800px;
                        background: #fff;
                        color: #000;
                        overflow: hidden;
                        width: 800px;
                        display: none;
                        .showshop {
                            @extend .showshop1;
                        }
                        .showbtn {
                            @extend .showbtn1;
                        }
                    }
                }
                .meishi {
                    opacity: 0.85;
                    background: url("../../imgs/index/brand_category1.png") no-repeat #fff 0 -288px;
                    &:hover {
                        opacity: 1;
                        background: url("../../imgs/index/brand_category2.png") no-repeat #fff 0 -288px;
                    }
                    .meishi_show {
                        z-index: 100;
                        position: absolute;
                        top: -200px;
                        right: -800px;
                        background: #fff;
                        color: #000;
                        overflow: hidden;
                        width: 800px;
                        display: none;
                        .showshop {
                            @extend .showshop1;
                        }
                        .showbtn {
                            @extend .showbtn1;
                        }
                    }
                }
                .jiaju {
                    opacity: 0.85;
                    background: url("../../imgs/index/brand_category1.png") no-repeat #fff 0 -320px;
                    &:hover {
                        opacity: 1;
                        background: url("../../imgs/index/brand_category2.png") no-repeat #fff 0 -320px;
                    }
                    .jiaju_show {
                        z-index: 100;
                        position: absolute;
                        top: -200px;
                        right: -800px;
                        background: #fff;
                        color: #000;
                        overflow: hidden;
                        width: 800px;
                        display: none;
                        .showshop {
                            @extend .showshop1;
                        }
                        .showbtn {
                            @extend .showbtn1;
                        }
                    }
                }
                .dianzi {
                    opacity: 0.85;
                    background: url("../../imgs/index/brand_category1.png") no-repeat #fff 0 -352px;
                    &:hover {
                        opacity: 1;
                        background: url("../../imgs/index/brand_category2.png") no-repeat #fff 0 -352px;
                    }
                    .dianzi_show {
                        z-index: 100;
                        position: absolute;
                        top: -300px;
                        right: -800px;
                        background: #fff;
                        color: #000;
                        overflow: hidden;
                        width: 800px;
                        display: none;
                        .showshop {
                            @extend .showshop1;
                        }
                        .showbtn {
                            @extend .showbtn1;
                        }
                    }
                }
                .bangong {
                    opacity: 0.85;
                    background: url("../../imgs/index/brand_category1.png") no-repeat #fff 0 -384px;
                    &:hover {
                        opacity: 1;
                        background: url("../../imgs/index/brand_category2.png") no-repeat #fff 0 -384px;
                    }
                    .bangong_show {
                        z-index: 100;
                        position: absolute;
                        top: -300px;
                        right: -800px;
                        background: #fff;
                        color: #000;
                        overflow: hidden;
                        width: 800px;
                        display: none;
                        .showshop {
                            @extend .showshop1;
                        }
                        .showbtn {
                            @extend .showbtn1;
                        }
                    }
                }
                .lipin {
                    opacity: 0.85;
                    background: url("../../imgs/index/brand_category1.png") no-repeat #fff 0 -416px;
                    &:hover {
                        opacity: 1;
                        background: url("../../imgs/index/brand_category2.png") no-repeat #fff 0 -416px;
                    }
                    .lipin_show {
                        z-index: 100;
                        position: absolute;
                        top: -200px;
                        right: -800px;
                        background: #fff;
                        color: #000;
                        overflow: hidden;
                        width: 800px;
                        display: none;
                        .showshop {
                            @extend .showshop1;
                        }
                        .showbtn {
                            @extend .showbtn1;
                        }
                    }
                }
                .haiwaiguan {
                    opacity: 0.85;
                    background: url("../../imgs/index/brand_category1.png") no-repeat #fff 0 -448px;
                    &:hover {
                        opacity: 1;
                        background: url("../../imgs/index/brand_category2.png") no-repeat #fff 0 -448px;
                    }
                    .haiwaiguan_show {
                        z-index: 100;
                        position: absolute;
                        top: -200px;
                        right: -800px;
                        background: #fff;
                        color: #000;
                        overflow: hidden;
                        width: 800px;
                        display: none;
                        .showshop {
                            @extend .showshop1;
                        }
                        .showbtn {
                            @extend .showbtn1;
                        }
                    }
                }
            }
        }
        li.menu_last {
            position: relative;
            .line_1{
                display: block;
                position: absolute;
                top: 0;
                left: 20px;
                width: 19px;
                height: 38px;
                background: url("../../imgs/index/share02.png") no-repeat -58px -169px;
                &:hover {
                    background: url("../../imgs/index/share02.png") no-repeat -366px -252px;
                }
            }
            span {
                display: block;
                position: absolute;
                top: 0;
                left: 45px;
            }
        }
        li {
            float: left;
            font-size: 14px;
            height: 38px;
            line-height: 40px;
            width: 82px;
            text-align: center;
            color: $color2;
            &:hover {
                color: $color4;
            }
            a {
                display: inline-block;
                width: inherit;
                height: inherit;
            }
        }
        .menu_right {
            position: absolute;
            right: 15px;
            top: 0;
            height: 40px;
            line-height: 40px;
            overflow: hidden;
            li {
                float: left;
                color: #fff;
                width: 30px;
                margin-right: 10px;
                overflow: hidden;
                span {
                    display: inline-block;
                    width: 30px;
                    height: 40px;
                    margin-right: 3px;
                    float: left;
                }
                i {
                    display: inline-block;
                    font-size: 12px;
                    float: left;
                    width: 110px;
                    height: 40px;
                }
            }
            .a1 {
                span {
                    background: url("../../imgs/index/share02.png") no-repeat -237px -66px;
                }

            }
            .a2 {
                span {
                    background: url("../../imgs/index/share02.png") no-repeat -296px -66px;
                }

            }
            .a3 {
                span {
                    background: url("../../imgs/index/share02.png") no-repeat -354px -66px;
                }

            }
        }

    }
}



      //<!-----------------底部------------------------>
.footbg{
    border-top: 1px solid #c9c9c9;
    height: 600px;
    background: url("../../imgs/index/footer_message_bg.jpg")center;
    @extend .commonWidth;
    .foot{
        @extend .Width;
        .foot_top{
            height: 117px;
            border-bottom: 1px solid #c9c9c9;
            overflow: hidden;
            dl{
                float: left;
                width: 230px;
                height: 64px;
                margin-top: 26px;
                margin-right: 10px;
                overflow: hidden;
                dt{
                    float: left;
                    width: 64px;
                    height: 64px;
                    margin-right: 10px;
                    margin-left: 5px;
                    img{
                        display: block;                       
                    }
                }
                .d1{
                    height: 24px;
                    line-height: 24px;
                    font-weight: bold;
                    margin-top: 10px;
                    margin-bottom: 5px;
                }
                a{
                        &:hover{
                            text-decoration: underline;
                            }
                    }             
               
            }
        }
        .foot_bottom{
            height: 283px;
            overflow: hidden;
            .foot_bottom1{
                float: left;
                width: 170px;
                .foot_bottom2{                   
                    font-weight: bold;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                li{
                    height: 24px;
                    height: 24px;
                    line-height: 24px;
                   a{
                        &:hover{
                            text-decoration: underline;
                            }
                    }             
                }
            }
        }
        .foot2{
            height: 177px;
            text-align: center;
            color: #fff;
            .foot2_1{
                height: 66px;
                line-height: 66px;
                color: #fff;
               a{
                        &:hover{
                            text-decoration: underline;
                            }
                    }             
            }
            .foot2_2{
                height: 48px;
                line-height: 48px;
                               
                .foot2_2_1{
                    height: 24px;
                    line-height: 24px;
                    color: #fff;
                    a{
                        &:hover{
                            text-decoration: underline;
                            }
                    }             
                }
            }
            .foot2_3{
                height: 40px;
                line-height: 40px;
                margin-top: 23px;
            }
        }
    }
}          