    @charset "UTF-8";
    @import "./common";
    .blur {
        width: 100%;
        height: 100%;
        -webkit-filter: blur(15px);
        filter: blur(15px);
        position: relative;
        .blurbox {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
        }
    }
    
    .wrap {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        .upside {
            height: 100%;
            .up_btns {
                width: 100%;
                height: 0.4rem;
                background: rgba(0, 0, 0, 0.5);
                .home {
                    display: block;
                    width: 0.4rem;
                    height: 0.4rem;
                    background: url(../imgs/icon_home.png) no-repeat center center;
                    background-size: 50%;
                }
                .share {
                    display: block;
                    width: 0.4rem;
                    height: 0.4rem;
                    background: url(../imgs/icon_share.png) no-repeat center center;
                    background-size: 45%;
                }
                .openApp {
                    width: 0.66rem;
                    height: 0.2rem;
                    border: 1px solid #fff;
                    border-radius: 0.04rem;
                    line-height: 0.2rem;
                    text-align: center;
                    font-size: 0.12rem;
                    font-family: 'microsoft yahei';
                    margin-top: 0.1rem;
                    color: #fff;
                }
            }
            .tabbox {
                width: 100%;
                height: 56%;
                overflow: hidden;
                .swiper-container {
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    position: relative;
                    z-index: 1;
                    .swiper-wrapper {
                        height: 80%;
                        z-index: 1;                       
                        .lyric__box {
                            width: 100%;
                            height: 96.6%;
                            margin: 0 auto;
                            overflow: hidden;
                            position: relative;
                            .lyric__text {
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                margin: 0 auto;
                                text-align: center;
                                color: #cacaca;
                                P {                                                                      
                                    line-height: 0.32rem;
                                    font-size: 0.16rem;
                                }
                                p.active {
                                    color: #52bcfd;
                                }
                            }
                        }
                        .simibox {
                            width: 100%;
                            height: 100%;
                            color: #fff;
                            overflow-y: auto;
                            h3 {
                                height: .39rem;
                                line-height: .39rem;
                                font-size: .14rem;
                                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                                margin: 0 .1rem;
                            }
                        }
                        .simigedanpic {
                            display: block;
                            width: 0.51rem;
                            height: 0.51rem;
                            margin: .1rem .1rem 0 .1rem;
                            border-bottom: 1px solid transparent;
                        }
                        .simigedaninfo {
                            width: 2.4rem;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                            padding-bottom: .1rem;
                            margin-top: .12rem;
                            .single_sname {
                                color: #fff;
                                font-size: .14rem;
                                line-height: 0.25rem;
                                width: 0.93rem;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden
                            }
                            .single_aname {
                                color: rgba(255, 255, 255, 0.5);
                                font-size: .12rem;
                            }
                            .gedanname {
                                font-size: .14rem;
                            }
                            .gedannum {
                                font-size: .12rem;
                            }
                        }
                        .simisongs {
                            width: 100%;
                            height: .39rem;
                            position: relative;
                            h3 {
                                height: .39rem;
                                line-height: .39rem;
                                font-size: .14rem;
                                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                                margin: 0 .1rem;
                            }
                            .ssinfo {
                                position: relative;
                                margin: 0 .1rem;
                                ul {
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    li {
                                        height: .39rem;
                                        line-height: .39rem;
                                        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                                        .single_sname {
                                            color: #fff;
                                            font-size: .14rem;
                                            line-height: 0.25rem;
                                            width: 0.93rem;
                                            white-space: nowrap;
                                            text-overflow: ellipsis;
                                            overflow: hidden
                                        }
                                        .single_aname {
                                            color: #fff;
                                            font-size: .12rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .swiper-pagination {
                        position: absolute;
                        height: 0.2rem;
                        text-align: center;
                        bottom: 0.4rem;
                        left: 0;
                        width: 100%;
                        z-index: 1;
                        .swiper-pagination-bullet {
                            display: inline-block;
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            background: rgba(255, 255, 255, 0.5);
                            position: relative;
                            bottom: 0.6rem;
                            margin: 0 7px;
                        }
                        .swiper-pagination-bullet-active {
                            opacity: 1;
                            background: #fff;
                        }
                    }
                }
            }
        }
        .downside {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1.28rem;
            background: rgba(0, 0, 0, 0.3);
        }
        .singleinfo {
            margin-bottom: .08rem;
            position: relative;
        }
        .single_pic {
            width: 0.55rem;
            height: 0.55rem;
            margin: .08rem .12rem 0 .08rem;
        }
        .single_detail {
            width: 50%;
            height: 0.63rem;
            position: relative;
            padding-top: .1rem;
        }
        .single_sname {
            color: #fff;
            font-size: .14rem;
            line-height: .25rem;
            width: 1.6rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .single_aname {
            color: rgba(255, 255, 255, 0.5);
            font-size: .12rem;
            line-height: 0.17rem;
        }
        .single_detail p {
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .playbox {
            position: absolute;
            left: 0;
            width: 2.47rem;
            height: .13rem;
            font-size: .10rem;
            color: #eee;
        }
        .playbar {
            width: 1.5rem;
            height: 100%;
            margin-right: .08rem;
        }
        .playline {
            width: 1.5rem;
            height: .03rem;
            background: #fff;
            position: relative;
            top: .08rem;
        }
        .fenge {
            margin: 0 .02rem;
        }
        .playline_clone {
            width: 0;
            height: 100%;
            background: #1da0ef;
        }
        .single_playbtn {
            width: 0.42rem;
            height: 0.42rem;
            background: url(../imgs/playbtn2.png) no-repeat center center;
            background-size: 70%;
            margin: .05rem .05rem 0 0;
            &.off {
                background: url(../imgs/pausebtn22.png) no-repeat center center;
                background-size: 70%;
            }
        }
        .single_list {
            width: .34rem;
            height: .34rem;
            background: url(../imgs/single_slist.png) no-repeat center center;
            background-size: 50%;
            margin-right: 0.5rem;
        }
        .single_down {
            width: 1.45rem;
            height: .34rem;
            border-radius: 0.2rem;
            text-align: center;
            line-height: .34rem;
            background: #1da0ef;
            color: #fff;
            font-size: .14rem;
        }
        .single_artist {
            width: .34rem;
            height: .34rem;
            background: url(../imgs/single_artist.png) no-repeat center center;
            background-size: 55%;
            margin-right: .02rem;
        }
        .single_queue {
            position: fixed;
            left: 0;
            bottom: -2.64rem;
            width: 100%;
            background: rgba(0, 0, 0, 0.7);
            z-index: 100;
            height: 2.64rem;           
        }
        .queue_content {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 2.14rem;
        }
        .single_playlist {
            height: 1.64rem;
            position: absolute;
            left: 0;
            top: 0.5rem;
            width: 100%;
            overflow-y: auto;          
        }
        .single_playlist li {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            height: 0.4rem;
            line-height: 0.4rem;
            padding-left: 0.1rem;         
        }
        .single_playlist li.playing span {
            color: #1a90d7
        }
        .single_playlist li .sing_sname {                   
            height: 0.4rem;
            line-height: 0.4rem;           
            color: #fff;
            font-size: .12rem;
            line-height: 0.4rem;
            max-width: 1rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .single_playlist li .sing_aname {            
            height: 0.4rem;
            line-height: 0.4rem;
            margin-left: 0.05rem;
            color: rgba(255, 255, 255, 0.5);
            font-size: .12rem;
            line-height: 0.4rem;
        }
        .single_playlist li span.playstate {          
            width: 20px;
            height: 40px;
            background: url(../imgs/playing.png) no-repeat center center;
            background-size: 60%;
            margin-right: 0.15rem;
        }
        #queue_title {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 0.5rem;
            line-height: 0.5rem;
            font-size: 0.16rem;
            text-align: center;
            color: #fff;
            z-index: 200;
        }
        .queue_close {
            border-top: 1px solid #ccc;
            position: absolute;
            left: 0;
            bottom: 0;
            font-size: .14rem;
            width: 100%;
            height: 0.5rem;
            line-height: 0.5rem;
            text-align: center;
            color: #fff;
            z-index: 200;
        }
    }